@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&family=Roboto:wght@400;700&display=swap');
        
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: "Roboto", sans-serif;
}

header {
    grid-area:header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2.5rem;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: crimson 1px solid;
    border-bottom: crimson 1px solid;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    
}

a {
    color: hsla(348, 83%, 47%, 0.8);
    text-decoration: none;    
}

a:hover, a:focus {
    color: hsla(348, 83%, 47%, 0.5);
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows:
    240px
    60px
    minmax(400px, auto)
    minmax(120px, auto)
    160px
    ;
    grid-template-areas: 
    "header header header header header"
    "nav nav nav nav nav"
    "main main main main sidebar"
    "gallery gallery gallery gallery gallery"
    "footer footer footer footer footer"
    ;
    justify-content: space-between;
}

main {
    padding: 3rem 2.5rem;
    grid-area: main;
    background: #f8f8f8;

}

aside {
    padding: 3rem 2.5rem;
    grid-area: sidebar;
    background: #f8f8f8;
    border-left: 1px solid #ddd;
    max-width: 300px;

}

footer {
    grid-area: footer;
    padding: 3rem 2.5rem;
    color: hsl(0, 0%, 80%);
    background: hsl(247, 40%, 12%);
}

section article {
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: 1px solid salmon;
}

aside h2, article h2 {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin: 0 0 1rem 0;
    


}

input[type="search"] {
    padding: 1rem;
    border:1px solid hsl(0, 0%, 87%);
    color: hsla(0, 0%, 0%, .7);
    background: hsl(0, 0%, 100%);
    border-radius:8px;
    margin: 0 8px 0 0;

}
input[type="search"]:focus {
    border:1px solid hsl(330, 100%, 41%);
}

input[type="search"]::placeholder {
    color: hsla(0, 0%, 0%, .4);
}

input[type="submit"] {
    padding: 1rem;
    border:1px solid hsl(330, 100%, 71%);
    color: hsl(0, 0%, 100%);
    background: hsl(330, 100%, 71%);
    border-radius:8px;
}

/* Responsiv del*/

@media screen and (max-width:640px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows:
        240px
        60px
        minmax(400px, auto)
        minmax(120px, auto)
        minmax(120px, auto)
        160px
        ;
        grid-template-areas:
        "header"
        "nav"
        "main"
        "sidebar"
        "gallery"
        "footer"
        ;
    }

    section.gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}